In [5]:
import pandas as pd 
import numpy as np
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [6]:
new_df = df.replace(-99999,0)
new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017            0          7  Sunny
2  1/3/2017           28          0   Snow
3  1/4/2017            0          7      0
4  1/5/2017           32          0   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [7]:
new_df = df.replace(-99999,np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [9]:
new_df = df.replace(to_replace=[-99999,7],value=5)
new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017            5          5  Sunny
2  1/3/2017           28          5   Snow
3  1/4/2017            5          5      0
4  1/5/2017           32          5   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [10]:
new_df = df.replace({
    'temperature':-99999,
    'event':'0'
},np.nan)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0          6   Rain
1  1/2/2017          NaN          7  Sunny
2  1/3/2017         28.0     -99999   Snow
3  1/4/2017          NaN          7    NaN
4  1/5/2017         32.0     -99999   Rain
5  1/6/2017         31.0          2  Sunny
6  1/6/2017         34.0          5    NaN

In [12]:
new_df = df.replace({
    -99999:np.nan,
    '0':'Sunny'
})
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0  Sunny
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0  Sunny

In [15]:
df = pd.DataFrame({
    'score':['best','better','good'],
    'student':['rob','radhe','krishna']
})
df

    score  student
0    best      rob
1  better    radhe
2    good  krishna

In [16]:
df.replace(['good','better','best'],[1,3,2])

   score  student
0      2      rob
1      3    radhe
2      1  krishna