In [1]:
import pandas as pd
weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]

})
weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [6]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [7]:
df = pd.concat([weather,us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [9]:
df = pd.concat([weather,us_weather],ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

In [15]:
df = pd.concat([weather,us_weather], keys=["India",'us'])
df

             city  temperature  humidity
India 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
us    0  new york           21        68
      1   chicago           14        65
      2   orlando           35        75

In [19]:
df.loc['us']

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [20]:
df.loc['India']

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78